{% extends "base.html" %} {% load static %} {% block title %} Inicio
{%endblock%} {% block content %}


<script>
  // Recuperar los datos del almacenamiento local y aplicarlos a las variables CSS

  const fuenteTitulo = localStorage.getItem('fuente_titulo');
  const fuenteTexto = localStorage.getItem('fuente_texto');

  document.documentElement.style.setProperty('--fuente-titulo', fuenteTitulo);
  document.documentElement.style.setProperty('--fuente-texto', fuenteTexto);
</script>


<div class="inicio d-flex flex-column  justify-content-center align-items-center ps-5">

  <div class="boton-inicio">
    <a href="{% url 'inicio' %}" class="navbar-brand" data-bs-toggle="tooltip" data-bs-placement="right"
    data-bs-title="Inicio">
    <img src="{% static 'images/logo.png' %}" width="70" height="70">
  </a>
  </div>

  <div class="barrita">

    <ul class="navbar-nav ms-auto d-flex flex-row">
      {% url 'inicio' as inicio_url %}
      {% url 'buscarProfesional' as buscarProfesional_url %}
      {% url 'investigacion' as investigacion_url %}
      {% url 'servicios' as servicios_url %}
      {% url 'contactos' as contactos_url %}
  
      <li class="nav-item">
        <a class="nav-link {% if request.path == inicio_url %}active{% endif %}"
          href="{% url 'inicio' %}">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == buscarProfesional_url %}active{% endif %}"
          href="{% url 'buscarProfesional' %}">Profesionales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == investigacion_url %}active{% endif %}"
          href="{% url 'investigacion' %}">Investigación</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == servicios_url %}active{% endif %}"
          href="{% url 'servicios' %}">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == contactos_url %}active{% endif %}"
          href="{% url 'contactos' %}">Contacto</a>
      </li>
  
      {% if user.is_authenticated %}
      <div class="btn-group">
        <button class="btn btn-white text-capitalize" type="button" data-bs-toggle="dropdown"
          data-bd-display="static" data-bs-auto-close="outside" aria-expanded="false">
          {{ user.first_name }} <img src="{{ user.profileadditionalinfo.image.url }}"
            class="rounded-circle border border-black" style="width: 28px; height: 28px;">
        </button>
        <ul class="dropdown-menu dropdown-menu-lg-end shadow">
          <li>
            <div class="col-sm-12 px-2 d-flex flex-column justify-content-center">
              <strong class="dropdown-header text-capitalize">{{ user.first_name }} {{ user.last_name }}
                <p class="text-lowercase fw-light mb-0">{{ user.email }}</p>
              </strong>
            </div>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item px-4" href="{% url 'perfil' %}"><i
                class="fa-solid fa-circle-info px-2 text-secondary"></i> Mi
              perfil</a>
          </li>
          <li><a class="dropdown-item px-4" href="{% url 'cambio_contrasena' %}"><i
                class="fa-solid fa-key px-2 text-secondary"></i> Cambiar
              contraseña</a>
          </li>
          {% if user.is_superuser or user.is_staff %}
          <li><a class="dropdown-item px-4" href="{% url 'gestion_usuarios' %}"><i
                class="fa-solid fa-user-gear px-2 text-secondary"></i>
              Gestionar usuarios</a></li>
          {% endif %}
          <li><a class="dropdown-item px-4 text-danger" href="{% url 'logout' %}"><i
                class="fa-solid fa-arrow-right-from-bracket px-2"></i> Cerrar
              sesión</a></li>
        </ul>
      </div>
      {% else %}
      <li class="nav-item">
        <a class="btn btn-white rounded-pill" href="{% url 'register' %}" role="button">
          <span class="button-text">Registrarme</span>
          <i class="fa-regular fa-user"></i>
        </a>
  
        <a class="btn btn-warning rounded-pill shadow-sm" href="{% url 'signin' %}" role="button">
          <span class="button-text">Iniciar sesión</span>
          <i class="fa-solid fa-arrow-right-to-bracket"></i>
        </a>
      </li>
      {% endif %}
  
    </ul>
  
  </div>
  
    <div
      class="row-md-6 col-sm-12 d-flex justify-content-center align-items-center"
    >
      <div class="container">

        
        <h1 class="fw-bold text-center mb-4" style="color: white;">
          Laboratorio de Biología Computacional
        </h1>

        {% if not user.is_authenticated %}
        <p class="fw-light text-center fs-5">
          ¡Descubra cómo nuestras
          <strong class="strong-custom fw-bold">herramientas</strong> y
          <strong class="strong-custom fw-bold">recursos</strong> pueden
          impulsar su investigación en biología computacional!
        </p>
        {% else %}
        <p class="fw-light text-center fs-5">
          ¿Tienes alguna pregunta, comentario o sugerencia? ¡Contáctanos!
          Estamos siempre disponibles y listos para atenderte.
        </p>
        {% endif %} {% if not user.is_authenticated %}
        <div class="container text-center mb-5 my-3 ">
          <a
            href="{% url 'register' %}"
            type="button"
            class="btn btn-outline-custom fw-bold font-monospace mb-3 me-4 registro-correo"
            >Regístrate con un correo</a
          >
          <button
            type="button"
            class="btn btn-outline-custom fw-bold font-monospace mb-3 me-4 registro-google"
          >
            Regístrate con Google <i class="fa-brands fa-google ms-1"></i>
          </button>
        </div>
        {% else %}
        <div class="container text-center mt-3">
          <a
            href="{% url 'contactos' %}"
            type="button"
            class="btn btn-primary custom-boton"
            style="  background-color: #00c6c7; border: #7affff 5px solid;"
            >Contactanos</a
          >
        </div>
        {% endif %}
      </div>
      <img
      src="{% static 'images/logo-blanco.jpg' %}"
      height="250px"
      width="300px"
    />
    <img
      src="{% static 'images/logoudes.png' %}"
      height="300px"
      width="300px"
    />
    </div>
  </div>
</div>




<div class="col-md-12">
  <div class="container">
    <div class="row flex-row">
      <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 2em 0;" class="text-center">
        <h2 class="text-center fw-bold mb-3" style="padding: 5px 0 5px 5px 5px;">¿Qué puedo encontrar en BioCOM?</h2>
        <div class="dropend ms-1 text-center" data-bs-toggle="tooltip" data-bs-placement="top">
                <button class="btn btn-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-pen"></i>
                </button>
                <ul class="dropdown-menu text-center" style="width: 350px; padding: 15px;">
                  <form method="POST">
                    {% csrf_token %}
                    <h3 style="color: #00c6c7">Cambiar tipografia</h3>
                    <div class="form-floating">
                      <select
                        class="form-select"
                        id="floatingSelectFonts"
                        aria-label="Floating label select example"
                        name="fuente_titulo"
                        style="border-radius: 40px; margin-top: 10px"
                      >
                        <option selected>Selecciona la tipografia</option>
                        {% for tipografias in tipografias %}
                        <option value="{{tipografias.fuente_titulo}}">
                          {{tipografias.fuente_titulo}}
                        </option>
                        {% endfor %}
                      </select>
                      <label for="floatingSelect">Titulos</label>
                    </div>
                  
                    <div class="form-floating">
                      <select
                        class="form-select"
                        id="floatingSelectFonts"
                        aria-label="Floating label select example"
                        name="fuente_texto"
                        style="border-radius: 40px; margin-top: 10px"
                      >
                        <option selected>Selecciona la tipografia</option>
                        {% for tipografias in tipografias %}
                        <option value="{{tipografias.fuente_texto}}">
                          {{tipografias.fuente_texto}}
                        </option>
                        {% endfor %}
                      </select>
                      <label for="floatingSelect">Texto</label>
                    </div>
                    <input
                      type="submit"
                      value="Actualizar tipografia"
                      class="btn btn-success mt-4 mb-2"
                      style="border-radius: 40px; background-color: #00c6c7"
                    />
                  </form>
                    
                </ul>
            </div>
      </div>
      
      <!-- Imagen 1 -->
      <div
        class="cardbox col-md-4 my-2 py-2 d-flex flex-column text-center align-items-center"
      >
        <img
          src="{% static 'images/profesional.jpg' %}"
          class="img-fluid me-3"
          width="220"
          height="400"
        />
        <a href="{% url 'buscarProfesional' %}" class="custom-color">
          <h5 class="mt-3">Profesionales</h5>
        </a>
        <p class="fw-light">
          Los profesionales del laboratorio de biología computacional combinan
          habilidades en biología y computación para resolver problemas
          complejos.
        </p>
      </div>
      <!-- Imagen 2 -->
      <div
        class="cardbox col-md-4 my-2 py-2 d-flex flex-column text-center align-items-center"
      >
        <img
          src="{% static 'images/investigacion.jpg' %}"
          class="img-fluid me-3"
          width="220"
          height="220"
        />
        <a href="{% url 'investigacion' %}" class="custom-color">
          <h5 class="mt-3">Investigacíon</h5>
        </a>
        <p class="fw-light">
          Los expertos en el laboratorio investigan utilizando herramientas
          informáticas para analizar datos biológicos en áreas como genómica,
          proteómica y biología de sistemas.
        </p>
      </div>
      <!-- Imagen 3 -->
      <div
        class="cardbox col-md-4 my-2 py-2 d-flex flex-column text-center align-items-center"
      >
        <img
          src="{% static 'images/herramientas.jpg' %}"
          class="img-fluid me-3"
          width="220"
          height="220"
        />
        <a href="{% url 'servicios' %}" class="custom-color">
          <h5 class="mt-3">Servicios</h5>
        </a>
        <p class="fw-light">
          Los expertos desarrollan herramientas personalizadas para enfrentar
          desafíos en el análisis de datos biológicos a gran escala. Esto
          impulsa la comprensión de sistemas biológicos y su aplicación en
          investigación y medicina.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="longcardbox container d-flex justify-content-center my-5">
  <div class="nosotros col-md-11">
    <h5 class="text-center">Nosotros</h5>
    <p class="fw-light text-center">
      En Biología Computacional, nos apasiona fomentar la intersección entre la
      biología y la informática. Nuestra plataforma nació con el propósito de
      brindar un espacio inclusivo y dinámico donde profesionales,
      investigadores y entusiastas de la biología computacional pueden reunirse,
      colaborar y acceder a recursos especializados. Con un enfoque en la
      innovación y el avance científico, trabajamos incansablemente para
      proporcionar herramientas de vanguardia, investigaciones actualizadas y
      una comunidad activa de expertos.
      <br />
      Únete a nosotros en este emocionante viaje hacia la exploración y
      descubrimiento en la intersección de la biología y la informática.
    </p>
  </div>
  <dotlottie-player
    src="https://lottie.host/cc1c3100-5b7c-42a9-bdc7-86f8b4254730/kgent8P7Bx.json"
    background="transparent"
    speed="1"
    style="max-width: 20%; height: auto"
    loop
    autoplay
  ></dotlottie-player>
</div>

<div class="col-md-12 mt-5">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6">
        <h5 class="text-center">Beneficios de Nuestra Plataforma</h5>
        <p class="fw-light text-center">
          ‣ Acceso centralizado a recursos y herramientas especializadas en
          biología computacional. <br />
          ‣ Comunidad activa de profesionales y expertos para colaboración y
          networking. <br />
          ‣ Actualizaciones regulares con las ultimas investigaciones y
          desarrollos en el campo. <br />
          ‣ Soporte personalizado y servicios adaptados a las necesidades de los
          usuarios. <br />
        </p>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <script
          src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
          type="module"
        ></script>
        <dotlottie-player
          src="https://lottie.host/79369937-3d10-4b1f-8c34-691a5c151efd/KHCB4BnzAO.json"
          background="transparent"
          speed="1"
          style="max-width: 90%; height: 90%"
          loop
          autoplay
        ></dotlottie-player>
      </div>
    </div>
  </div>
</div>

{% endblock %}
