{% extends "base.html" %}
{% load static %}

{% block title %} Políticas de privacidad {% endblock %}

{% block content %}

<div class="container col-md-8 text-center py-5">
    <img src="{% static 'images/logo-color.png' %}" class="mb-4" width="90" height="75">
    <div class="container border border-2 shadow rounded-5 py-5">

        <div class="container px-5">
            <h2 class="mb-5">Políticas de privacidad</h2>

            <p class="text-start">

                <strong class="strong-custom">## Identificación</strong> <br>

                Esta Política de Privacidad se aplica al sitio web del Laboratorio de Biología Computacional de la
                Universidad de Santander (UDES) en Bucaramanga, Colombia. <br> <br>
                
                <strong class="strong-custom">## Recopilación de Información</strong> <br>

                Recopilamos información de identificación personal, como nombres, números de teléfono y direcciones de
                correo electrónico, cuando se nos proporciona voluntariamente. Esta información se utiliza únicamente
                para los fines para los que se proporciona. <br> <br>

                <strong class="strong-custom">## Uso de la Información</strong> <br>

                La información que recopilamos se utiliza para iniciar sesión en nuestro sitio web y para mostrar
                profesionales asociados a nuestro laboratorio. No compartimos esta información con terceros externos. <br> <br>

                <strong class="strong-custom">## Protección de la Información</strong> <br>

                Implementamos una variedad de medidas de seguridad para proteger la seguridad de su información
                personal. <br> <br>

                <strong class="strong-custom">## Consentimiento</strong> <br>

                Al utilizar nuestro sitio web, usted acepta nuestra Política de Privacidad. <br> <br>

                <strong class="strong-custom">## Cambios en la Política de Privacidad</strong> <br>

                Nos reservamos el derecho de modificar esta Política de Privacidad en cualquier momento. Si decidimos
                cambiar nuestra Política de Privacidad, publicaremos esos cambios en esta página. <br> <br>

                <strong class="strong-custom">## Contacto</strong> <br>

                Si tiene alguna pregunta sobre esta Política de Privacidad, puede ponerse en contacto con nosotros a
                través de nuestros canales de contacto publicados en nuestro sitio web. <br> <br>

            </p>
        </div>

    </div>
</div>

{% endblock %}