.form-floating.is-invalid input.form-control {
    background-image: none;  
}

.form-floating.is-invalid label {
    color: #212529;  
}

.text-custom-color{
    color: #FF735D;
}

.text-custom-color:hover{
    color: #FF735D;
}

.text-link-custom{
    color: #2D7EE8;
}