{% extends "base.html" %}
{% load static %}

{% block title %} Cambiar contraseña {% endblock %}

{% block content %}

<div class="container my-3">

    <div class="mb-5 mt-5">

    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card border rounded-2 shadow-sm rounded-5 rounded-top pb-3 mb-2">
                <div class="card-body text-center">
                    <div class="mt-2">
                        <img src="{{ user.profileadditionalinfo.image.url }}"
                            class="rounded-circle border border-2 border-secondary shadow img-fluid"
                            style="width: 100px;">
                    </div>
                    <p class="text-muted">@{{ user.username }}</p>
                    {% if user.is_superuser %}
                    <span class="badge rounded-1 text-bg-success mb-4">Super usuario</span>
                    {% endif %}
                    {% if user.is_staff %}
                    <span class="badge rounded-1 text-bg-primary mb-4">Administrador</span>
                    {% endif %}
                    <h4 class="mb-2 text-capitalize">{{ user.first_name }} {{ user.last_name }} </h4>
                    <p class="text-muted mb-2"> {{ user.email }} </p>
                    <p class="text-muted"> {{ user.profileadditionalinfo.phone_number }} </p>

                    <!-- Pills navs -->
                    <ul class="nav nav-justified mt-4 mb-2">
                        <li class="nav-item">
                            <a class="nav-link rounded text-bg-danger" href="{% url 'logout' %}"><i
                                    class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar sesión</a>
                        </li>
                    </ul>
                    <!-- Pills navs -->
                </div>

            </div>
        </div>

        <div class="col-md-8">

            <!-- Tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link text-black" href="{% url 'perfil' %}"><i
                            class="fa-solid fa-circle-info text-secondary me-1"></i>
                        Información personal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active bg-light text-black disabled" aria-disabled="true"
                        href="{% url 'cambio_contrasena' %}"><i class="fa-solid fa-key text-secondary me-1"></i> Cambiar
                        contraseña</a>
                </li>
                {% if user.is_superuser or user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link text-black" href="{% url 'gestion_usuarios' %}"><i
                            class="fa-solid fa-user-gear text-secondary me-1"></i> Gestionar usuarios</a>
                </li>
                {% endif %}
            </ul>
            <!-- Fin Tabs -->

            <div class="card border rounded-2 shadow-sm rounded-5 rounded-top shadow pb-3 mb-2">
                <div class="card-body text-center">
                    <h5 class="mb-2 mt-2">Cambiar contraseña</h5>

                    <form method="POST" id="updateForm"> {% csrf_token %}

                        <!-- Entrada para contraseña antigua -->
                        <div class="form-floating mb-2 mt-2">
                            <input type="password" class="form-control" name="old_password" id="OldPassword"
                                placeholder="">
                            <label>Contraseña antigua</label>
                            <button type="button" id="toggleOldPassword"
                                class="btn btn-default position-absolute top-50 end-0 translate-middle-y">
                                <i id="toggleOldPasswordIcon" class="fa fa-eye" aria-hidden="true"></i>
                            </button>
                        </div>

                        <!-- Entrada para contraseña nueva -->
                        <div class="form-floating mb-2 mt-2">
                            <input type="password" class="form-control" name="new_password1"
                                id="floatingInputNewPassword" placeholder="">
                            <label>Contraseña nueva</label>
                            <button type="button" id="toggleNewPassword"
                                class="btn btn-default position-absolute top-50 end-0 translate-middle-y">
                                <i id="toggleNewPasswordIcon" class="fa fa-eye" aria-hidden="true"></i>
                            </button>
                        </div>

                        <!-- Entrada para repetir contraseña -->
                        <div class="form-floating mb-2 mt-2">
                            <input type="password" class="form-control" name="new_password2"
                                id="floatingInputNewPassword1" placeholder="">
                            <label>Repite la contraseña</label>
                            <button type="button" id="toggleNewPassword1"
                                class="btn btn-default position-absolute top-50 end-0 translate-middle-y">
                                <i id="toggleNewPasswordIcon1" class="fa fa-eye" aria-hidden="true"></i>
                            </button>
                        </div>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-success mt-4 mb-2" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            Actualizar información
                        </button>
                    </form>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar información</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ¿Está seguro que quiere actualizar la información?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-secondary" id="saveChangesBtn">Guardar
                                        cambios</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="mb-5 mt-5">

    </div>

</div>

<!-- Sistema de notificaciones Toast -->
{% for message in messages %}
{% if message.tags == 'error' %}
<div class="toast align-items-center bg-danger text-white border-0 mt-1 me-1" role="alert" aria-live="assertive"
    aria-atomic="true" id="errorToast" style="position: absolute; top: 60px; right: 10px; z-index: 1000;">
    <div class="d-flex">
        <div class="toast-body">
            <i class="fa-solid fa-circle-info"></i>
            {{ message }}
        </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var errorToast = new bootstrap.Toast(document.getElementById('errorToast'));
        errorToast.show();
    });
</script>
{% elif message.tags == 'success' %}
<div class="toast align-items-center bg-success text-white border-0 mt-1 me-1" role="alert" aria-live="assertive"
    aria-atomic="true" id="successToast" style="position: absolute; top: 60px; right: 10px; z-index: 1000;">
    <div class="d-flex">
        <div class="toast-body">
            <i class="fa-solid fa-check"></i>
            {{ message }}
        </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var successToast = new bootstrap.Toast(document.getElementById('successToast'));
        successToast.show();
    });
</script>
{% endif %}
{% endfor %}
<!-- Fin Sistema de notificaciones Toast -->

<!-- Script para escuchar boton de confirmacion de envio -->
<script>
    document.getElementById('saveChangesBtn').addEventListener('click', function () {
        console.log('Intentando enviar el formulario...');
        document.getElementById('updateForm').submit();
    });
</script>
<!-- Fin Script para escuchar boton de confirmacion de envio -->

<script src="{% static 'js/change_password.js' %}"></script>
{% endblock %}