{% extends "base.html" %}
{% load static %}
{% block title %}Restablecer contraseña{% endblock %}

{% block content %}

<script>

    // Recuperar los datos del almacenamiento local y aplicarlos a las variables CSS
    const fuenteTitulo = localStorage.getItem('fuente_titulo');
    const fuenteTexto = localStorage.getItem('fuente_texto');
  
    document.documentElement.style.setProperty('--fuente-titulo', fuenteTitulo);
    document.documentElement.style.setProperty('--fuente-texto', fuenteTexto);
  </script>
  

<div class="container col-md-6 text-center py-5">
    <img src="{% static 'images/logo-color.png' %}" class="mb-4" width="90" height="75">
    <div class="container border border-2 shadow rounded-5 py-5">

        <h2 class="mb-3">Restablecer contraseña</h2>
        <p>Por favor, ingrese su dirección de correo electrónico a continuación. Le enviaremos un enlace único para
            restablecer su contraseña.</p>

        <form method="post"> {% csrf_token %}

            <div class="row justify-content-center">
                <div class="col-md-8">
                    <label for="floatingInputEmail" class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" id="floatingInputEmail" name="email"
                        placeholder="ejemplo@gmail.com" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-4 mb-2">Enviar enlace</button>

        </form>
        <p class="mt-3">Recorde mi contraseña. <a href="{% url 'signin' %}" class="custom-color">Iniciar sesión</a></p>
    </div>
</div>

{% endblock %}