{% extends "base.html" %}
{% load static %}

{% block title %}Restablecimiento de contraseña completado{% endblock %}

{% block content %}

<div class="container col-md-8 text-center py-5">
    <img src="{% static 'images/logo-color.png' %}" class="mb-4" width="90" height="75">
    <div class="container border border-2 shadow rounded-5 py-5">

        <div class="container px-5">
            <h2 class="mb-3">Restablecimiento de contraseña completado</h2>

            <p>Su contraseña se ha restablecido correctamente. Ahora puede iniciar sesión con su nueva contraseña.</p>

            <a class="btn btn-warning rounded-pill shadow-sm mt-3" href="{% url 'signin' %}" role="button">
                <span class="button-text">Iniciar sesión</span>
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
            </a>
        </div>

    </div>
</div>

{% endblock %}