{% extends "base.html" %}
{% load static %}

{% block title %}Confirmación de restablecimiento de contraseña{% endblock %}

{% block content %}

<div class="container col-md-6 text-center py-5">
    <img src="{% static 'images/logo-color.png' %}" class="mb-4" width="90" height="75">
    <div class="container border border-2 shadow rounded-5 py-5">

        <h2 class="mb-3">Confirmación de restablecimiento de contraseña</h2>
        <p>Por favor, ingrese su nueva contraseña a continuación.</p>

        <form method="post"> {% csrf_token %}

            <div class="row justify-content-center">



                <!-- Entrada para contraseña nueva -->
                <div class="col-md-8">
                    <!-- Notificaciones de errores -->
                    {% if form.errors %}
                    <div class="alert alert-danger mt-4">
                        <ul>
                            {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <!-- Fin de notificaciones de errores -->
                    <div class="form-floating mb-2 mt-2">
                        <input type="password" class="form-control" name="new_password1" id="floatingInputNewPassword"
                            placeholder="">
                        <label>Contraseña nueva</label>
                        <button type="button" id="toggleNewPassword"
                            class="btn btn-default position-absolute top-50 end-0 translate-middle-y">
                            <i id="toggleNewPasswordIcon" class="fa fa-eye" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <!-- Entrada para repetir contraseña -->
                <div class="col-md-8">
                    <div class="form-floating mb-2 mt-2">
                        <input type="password" class="form-control" name="new_password2" id="floatingInputNewPassword1"
                            placeholder="">
                        <label>Repite la contraseña</label>
                        <button type="button" id="toggleNewPassword1"
                            class="btn btn-default position-absolute top-50 end-0 translate-middle-y">
                            <i id="toggleNewPasswordIcon1" class="fa fa-eye" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-4 mb-2">Restablecer contraseña</button>

        </form>
    </div>

</div>

<script src="{% static 'js/password_reset_confirm.js' %}"></script>
{% endblock %}