{% extends "base.html" %}
{% load static %}

{% block title %}Restablecimiento de contraseña inválido{% endblock %}

{% block content %}

<div class="container col-md-8 text-center py-5">
    <img src="{% static 'images/logo-color.png' %}" class="mb-4" width="90" height="75">
    <div class="container border border-2 shadow rounded-5 py-5">

        <div class="container px-5">
            <h2 class="mb-4">Error en el restablecimiento de contraseña</h2>

            <p>La solicitud de restablecimiento de contraseña es inválida. Por favor, intente nuevamente o contacte con
                el soporte técnico si el problema persiste.</p>
        </div>

    </div>
</div>

{% endblock %}