.form {
    position: relative;
}

.form .fa-search {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #9ca3af;

}

.form span {
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
}

.left-pan {
    padding-left: 7px;
}

.left-pan i {
    padding-left: 10px;
}

.form-input {
    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus {
    box-shadow: none;
    border: none;
}

.centered {
    text-align: center !important;
    vertical-align: middle !important;
}

.custom-color {
    color: #212529;
}

.custom-size {
    font-size: 21px;
}

#info thead {
    font-size: 15px;
}

#info tbody {
    color: #333333;
    font-size: 14px;
}

tr:nth-child(odd) td {
    background-color: #ffffff;
}

tr:nth-child(even) td {
    background-color: #f0f0f0;
}

td {
    border-bottom: none;
}

.bg-custom{
    background-color: #f0f0f0 !important;
}